/*mobiel*/
.parent {
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 100px 60px auto 60px;
  height: 1000px;
  grid-template-areas:
    ". h ."
    ". n ."
    ". m ."
    ". f .";
}

main,
footer {
  margin: 5px;
}
/*kop*/
header {
  background-color: #88cc88;
  grid-area: h;
  padding-top: 20px;
}
.logo img {
  width: 50%;
  padding-left: 60px;
}
/*navigatie*/
nav {
  background-color: #88cc88;
  grid-area: n;
  margin-bottom: 10px;
}
.navigation_block li {
  display: inline;
}
.navigation_block a:hover {
  color: red;
}

/*main*/

main {
  background-color: #cbebcb;
  grid-area: m;
  color: #004400;
  padding: 0px 20px;
  text-align: center;
}
main img {
  width: 60%;
  padding-top: 20px;
  text-align: center;
}

footer {
  background-color: #88cc88;
  grid-area: f;
}

@media (min-width: 400px) {
  .parent {
    grid-template-columns: 10px 200px auto 10px;
    grid-template-rows: 95px auto 50px;
    grid-template-areas:
      ". h n ."
      ". m m ."
      ". f f .";
  }
  header,
  nav {
    margin-bottom: 10px;
  }
  header {
    padding-top: 5px;
  }
  .logo img {
    width: 60%;
    padding-left: 50px;
  }
  nav {
    padding-top: 45px;
    word-spacing: 1em;
  }

  a img {
    width: 15%;
    display: inline-block;
    padding-left: 10px;
  }
}
